.App {
  padding: 30px;
  display: flex;
  padding-left: 750px;
}

.App > div {
  margin-right: 50px;
}

.App button {
  margin-left: 5px;
}

.error {
  border: red 1px solid;
}

.error-message {
  color: red;
}

.active-filter {
  background-color: lightgray;
}

.is-done {
  opacity: 0.5;
}

.buttonStyle {
  border-radius: 7px;
  border: 1px solid lightgray;
}